<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>

    <div class="werapper">
        
            <h1>Erro 403</h1>

            <p>Acesso Negado</p>
            <p>Você não possui permissão para acessar esta página.</p>
           
            <a href="/"><button class="btn">Voltar para a página inicial</button></a>

            <div class="cadastro">
                <p>Você não tem cadastro? <a href="/cadastro">Clique aqui!</a></p>
                <p>Relatar um bug: <a href="mailto:vivicomferreira@outlook.com">Enviar um e-mail</a></p>

            </div>
           
    </div>
    
</body>
</html>

